/*
RESET
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

button {
  border: none;
  outline: none;
  margin: 0;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container .game-area .player-answer button, .container .interface-area .game-new {
  padding: 20px 35px;
  font-size: 50px;
  color: white;
  background: #010101;
  border: 4px solid #94FEED;
  font-family: 'VT323', monospace;
}

.container .game-area .player-answer button:hover, .container .interface-area .game-new:hover {
  background: #d02751;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'VT323', monospace;
  background: #747474;
}

main {
  max-height: 1200px;
  background: #747474;
}

header {
  background: #010101;
  padding: 30px 0;
}

header h1 {
  font-size: 100px;
  padding-bottom: 15px;
  color: #d02751;
  text-align: center;
}

header .game-end {
  text-align: center;
  color: #CDA94B;
  font-size: 40px;
}

.container {
  display: -ms-flexbox;
  display: flex;
  max-width: 1500px;
  margin: 0 auto;
  height: 100%;
}

.container .game-area {
  padding: 40px 10px;
  width: 66%;
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}

.container .game-area .comp {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding-bottom: 100px;
  padding-top: 30px;
}

.container .game-area .comp .comp-answer {
  width: 250px;
  height: 250px;
  border: 8px solid #94FEED;
  background: #010101;
  color: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  font-size: 70px;
}

.container .game-area .comp img {
  height: 300px;
  width: auto;
  padding-right: 60px;
}

.container .game-area h2 {
  padding-bottom: 75px;
  text-align: center;
  font-size: 70px;
  color: #CDA94B;
}

.container .game-area .player-answer {
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
  width: 100%;
  padding: 0 0 100px 0;
}

.container .interface-area {
  background: #006332;
  width: 34%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 50px 25px;
  -ms-flex-align: center;
      align-items: center;
}

.container .interface-area .output {
  height: 350px;
  width: 100%;
  background: #010101;
  overflow-y: scroll;
  font-size: 20px;
  line-height: 1.5;
  padding: 0 25px;
  color: #ffffff;
  margin-bottom: 50px;
}

.container .interface-area .score {
  font-size: 115px;
  color: white;
  width: 100%;
  text-align: center;
  color: #CDA94B;
  padding-bottom: 50px;
}

footer {
  background: #006332;
  padding: 20px;
  color: white;
  font-size: 30px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */